* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 40px;
    background: linear-gradient(to left top, #295270, #524175);
    background-attachment: fixed;
    /*edit*/
}


.pylogo {
    text-align: left;
}

.road-to-oss {
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 10ch;
    padding-top: 0;
}

.heading {
    text-align: center;
}

.contri {
    color: #524175;
    font-size: 30px;
    font-weight: 700;
    width: 250px;
    padding: 8px;
    border: 0;
    margin: 8px;
    border-radius: 40px;
    background-color: white;
}

.search-wrapper {
    text-align: center;
    margin: 40px;
}

.search-wrapper label {
    color: white;
}

.inherit-color{
    color: #e5e2e4;
}

input {
    font-size: 20px;
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    border: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.parent-card{
    width: 330px;
    padding: 20px;
    background: linear-gradient(to left top, #295270, #524175);
}

.card {
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #170f1e;
    border: 1px solid #5ee8fd;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
}

.content {
    padding: 30px;
}

.username {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card:hover {
    transform: translate(0px, -8px);
    transition: transform 0.25s;
}

.profile-img {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.name {
    padding: 8px;
}

h1 {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: #5ee8fd;
}

h2 {
    padding-top: 8px;
}

.current_pos {
    color: #5ee8fd;
}

h3 {
    text-align: center;
    padding: 0 8px;
    margin: auto;
    color: #e5e2e4;
}

h4 {
    font-weight: 100;
    text-align: center;
    padding: 0 8px;
    margin: auto;
}

p {
    padding: 18px;
    color: white;
}


.email {
    text-align: center;
    font-size: 13px;
    color: white;
    width: 50%;
    padding: 8px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    background-color: #524175;
}

.profile-download {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    width: 60%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 40px;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) repeat scroll 0% 0% / 200% 100%;
    color: rgb(23, 15, 30);
}

.email:hover {
    font-weight: 800;
    color: black;
    border: 2px solid black;
    background-color: white;
}

.profile-download:hover {
    transform: rotate(2deg);
    transition: all 0.2s ease 0s;
}

button i {
    size: 30px;
    color: black;
}

@media(max-width:1500px) {

    input {
        width: 100%;
    }
}

@media(max-width:750px) {

    input {
        width: 100%;
    }

}